.homepage-content {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
}

.homepage-title {
  margin-top: 30px;
  text-align: center;
}

.homepage-text {
  margin-top: 20px;
}

.homepage-list {}

.homepage-footer {

}

