.profile {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 30px;
    margin-bottom: 25%;
    background: linear-gradient(to right, rgb(204, 170, 238), rgb(255, 204, 238));
    border-style: solid;
    border-color:  #270132;
    color: #270132;
    border-radius: 30px;
    display:flex;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 600;
    color: #270132;
}

@media screen and (max-width: 550px) {
    .profile{
        font-size: 0.9rem;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 250px) {
    .profile{
        font-size: 0.9rem;
        margin-left: 0%;
        margin-right: 0%;
    }
}

.box {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    text-align: center;
}

.pfTitle {
    font-size: 2rem;
}

.pfSpan {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    font-size: 1.3rem;
}

.pfBtn {
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 20px;
    border-color: #270132;
    border-width: 0.9px;
    background: linear-gradient(to left, rgb(204, 170, 238), rgb(255, 204, 238));
}

#changePass {
    margin-top: 15px;
}

#changeFN, #changeLN, #changeUN, #currentPass, #newPass {
    text-align: center;
    border-radius: 20px;
    border-color: #270132;
    border-width: 1px;
    width: 119%;
}


.pfMes {
    padding-bottom: 3px;
    padding-top: 2px;
    color: #270132;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    border-color: #270132;
    border-width: 1px;
    text-align: center;
    margin-top: 3%;
    background: linear-gradient(to left, rgb(204, 170, 238), rgb(255, 204, 238));
}