
.navbar {
    background-image: none;
    background: linear-gradient(to right, rgb(204, 170, 238), rgb(255, 204, 238)) !important;
    font-size: 1rem;
    font-weight: 500;
    
}
.navbar-text {
    color: #270132 !important;
}

.nav-link {
    color: #270132 !important;
}